* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:rgb(220, 220, 220);
    margin:0;
}

p {
    color: black;
    font-size: 20px;
}

h1 {
    text-shadow: 1px 1px;
    color: dimgray;
    display: inline-block;
}

img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.center {
    text-align: center;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    width: 100%; 
}

.noDeco {
    text-decoration: none;
    color: white;
}

li {
    float: left;
    border-right:1px solid rgb(220, 220, 220);
  }

li:last-child {
    border-right: none;
}
  
a {
    display: block;
    padding: 14px 16px;
}
